:root {
  --v-btn-height: 36px;
}

.default {
  display: flex;
  flex-direction: "row";
}

.v_list_item {
  padding-left: 1rem !important;
  min-height: auto !important;

  background-color: inherit !important;
  width: 100%;
  height: 100%;
}

/* @media screen and (max-width: 1110px) {
  .styles_wrapper__vzWYs .styles_content_section {
    flex-shrink: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    width: 56.3%
  }

  .styles_left__PgAeQ {
    padding-right: 20px;
    overflow-y: hidden !important;
  }

  .styles_wrapper__vzWYs .styles_side_section__JUV6m .styles_right__8Hl3r {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 18.75%
  }
} */

/* .styles_wrapper__vzWYs .styles_side-section__JUV6m */
.styles_navigationDrawer_left {
  border-right-width: 1px;
  /* height: calc(100vh - 54px) !important; */
  top: 54px !important;
  width: 290px !important;
  overflow-x: hidden;
  overflow-y: auto;
  /* padding-bottom: 1.5rem; */
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: -webkit-sticky;
  position: sticky;

  background-color: inherit !important;
}

/*#region Custom 1{not yet has purpose }*/
.py_2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem
}

.py_1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem
}

.py_12pt {
  padding-bottom: 12px;
  padding-top: 12px
}

.py_4pt {
  padding-bottom: 4px;
  padding-top: 4px
}

.py_12pt {
  padding-bottom: 12px;
  padding-top: 12px
}

.px_2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px_6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

/* .py_8 {
  padding-left: 8;
  padding-right: 8;
} */

.px_4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-\[2px\] {
  padding-bottom: 2px;
  padding-top: 2px
}

.pl-3 {
  padding-left: .75rem
}

.pt_6 {
  padding-top: 1.5rem
}

.pt_4 {
  padding-top: 1rem
}

.pl_2 {
  padding-left: 0.5rem;
}

.pl_4 {
  padding-left: 1rem;
}

.pl_6 {
  padding-left: 1.5rem;
}

.pr_8 {
  padding-right: 2rem;
}

.ml_2 {
  margin-left: .5rem
}

.mb_2 {
  margin-bottom: 0.5rem;
}

.typo_600_13pt {
  font-size: 13px;
  line-height: 1.2rem
}

.typo_600_14pt {
  font-size: 14px;
  line-height: 1.4285714285714286em
}

.typo_600_16pt {
  font-size: 16px;
  line-height: 1.4em
}

.typo_600_18pt {
  font-size: 18px;
  line-height: 1.4em
}

.typo_600_20pt {
  font-size: 20px;
  line-height: 1.4em
}

.typo_600_13pt,
.typo_600_14pt,
.typo_600_16pt,
.typo_600_18pt,
.typo_600_20pt {
  font-family: Poppins-SVN, sans-serif;
  font-weight: 600
}

/*endregion Custom 1{not yet has purpose }*/

/*#region normaly use*/
.flex {
  display: flex;
}

.contents {
  display: contents;
}

.inline {
  display: inline;
}

.flex_direction_row {
  flex-direction: row;
}

.flex_direction_column {
  flex-direction: column;
}

.inline_block {
  display: inline-block;
}

.item_center {
  align-items: center;
}

.item_start {
  align-items: start;
}

.uppercase {
  text-transform: uppercase;
}

.inline {
  display: inline;
}

.justify_center {
  justify-content: center;
}

.width_100\% {
  width: 100%;
}

.height_100\% {
  height: 100%;
}

.defaultTextColor {
  color: rgb(41, 41, 41) !important;
}

.position_relative {
  position: relative;
}

/*#endregion normaly use*/

.bg_white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity)) !important
}

.bg_aqua {
  --tw-bg-opacity: 1;
  background-color: rgb(200 200 258/var(--tw-bg-opacity)) !important
}

.w_min {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content
}

.w_auto {
  width: auto;
}

.height_6 {
  height: 1.5rem;
}

.duration_300 {
  transition-duration: .3s
}

.styles_btn_main {
  align-items: center;
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  padding: 0;
  text-transform: uppercase;
  transition-duration: .3s;
  vertical-align: middle;
  background-color: inherit;
}

.styles_btn_40 {
  height: 40px;
  padding: .5rem 1rem
}

.link_primary_left_transition_0\.1 {
  transition-duration: 0.1s;
}

.link_primary_right_hover:hover {
  border-radius: 60px 0px 0px 60px;

  border-right-width: 5px;
  /* padding-left: 0.5rem; */

  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(217 217 217);
  border-color: rgb(85 85 85/var(--tw-border-opacity));
  /* color: rgb(255 255 255/var(--tw-text-opacity)) */
}

.link_primary_left_hover:hover {
  border-radius: 0px 60px 60px 0px;
  border-left-width: 5px;
  /* padding-left: 0.5rem; */

  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(217 217 217);
  border-color: rgb(85 85 85/var(--tw-border-opacity));
  /* color: rgb(255 255 255/var(--tw-text-opacity)) */
}

.btn_40size_important {
  width: calc(var(--v-btn-height) + 4px) !important;
  height: calc(var(--v-btn-height) + 4px) !important;
}

.btn_46size_important {
  width: calc(var(--v-btn-height) + 10px) !important;
  height: calc(var(--v-btn-height) + 10px) !important;
}

.btn_hover_do_nothing:hover {
  background-color: transparent;
}

.btn_hover:hover {
  border-radius: 60px 60px 60px 60px;

  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(217 217 217);
  border-color: rgb(85 85 85/var(--tw-border-opacity));
}

.styles_btn_main_fill__primary__hover:hover {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(85 85 85/var(--tw-bg-opacity));
  border-color: rgb(85 85 85/var(--tw-border-opacity));
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles_primary,
.styles_btn_main_fill__primary {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(41 41 41/var(--tw-bg-opacity));
  border-color: rgb(41 41 41/var(--tw-border-opacity));
  border-width: 1px;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.my_auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my_10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mr_10px {
  margin-right: 10px;
}

.mb_10px_important {
  margin-bottom: 10px !important;
}

.width_33\.3\% {
  width: 33.3%;
}

.justify_right {
  justify-content: right;
}

/*#region VctNvDrawerListItem main item*/
.styles_as_button {
  -webkit-text-decoration-line: none;
  text-decoration-line: none
}

.styles_ver_edition__6OX4j {
  background: linear-gradient(95deg, hsla(0, 0%, 96%, .4) 0, hsla(0, 0%, 96%, .6) 55.5%, hsla(0, 0%, 96%, .4) 100%), var(--low-fi-white, #fff);
  border: 1px solid #b0b0b0;
  border-radius: 60px
}

.text_lmInkSecondary2 {
  --tw-text-opacity: 1;
  color: rgb(122 122 122/var(--tw-text-opacity));
}

.text_nvDrawerLv1 {
  color: rgb(0, 55, 165);
}

.text_nvDrawerLv1_right {
  color: rgb(143, 143, 143);
}

.item_nvDrawer {
  height: 40px;
  min-height: auto;
  /* padding-top: 0 !important;
  padding-bottom: 0 !important; */
}

.cursor-pointer {
  cursor: pointer
}

.duration-300 {
  transition-duration: .3s
}

.link_itemsInRow {
  display: flex;
  flex-direction: row;
}

.bg_lmTertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217/var(--tw-bg-opacity))
}

.bg_transparent {
  background-color: transparent
}

.bg_lmInkTertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(191 191 191/var(--tw-bg-opacity))
}

.styles_scrollableWrapper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%
}

.img_FitContent {
  width: fit-content;
  height: fit-content
}

.img_size {
  width: 50px;
  height: 50px;
}

.childItem_opacity {
  opacity: 0.7;
}

.styles_right_side_section {
  border-left-width: 1px !important;
  display: block;
  /* background-color: inherit !important; */

  top: 54px !important;
  width: 18.75% !important;
}

.styles_border_right_side_section {
  --tw-border-opacity: 1;
  border-color: rgb(227 227 227/var(--tw-border-opacity)) !important;
  flex-shrink: 0
}

/* from: https://stackoverflow.com/questions/76296408/how-do-i-make-glass-blur-background-like-in-windows-11-menus-and-apps-in-a-html */
.glass {
  /* CSS for Glass UI, play with it for better or more suitable results */
  backdrop-filter: blur(5px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(5px) saturate(180%) !important;
  background-color: rgba(255, 255, 255, 0.57) !important;
  border-radius: 0px;
  /* border: 1px solid rgba(209, 213, 219, 0.3) !important; */
}

/*#endregion VctNvDrawerListItem main item*/

/*#region v-main */
/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; 
} */

/*#endregion v-main*/